<span>
    <a href="https://webpages.charlotte.edu/jthorn14/">TODO LINK 1</a>
    <a href="https://webpages.charlotte.edu/jthorn14/">TODO LINK 2</a>
</span>

<p> Designed by <a href="./jothorndevs.com/">Jothorn Developments</a>©
    <em>Certified in <a href="https://www.freecodecamp.org/certification/thorntonjb/responsive-web-design">Responsive Web Design</a></em>.
    <em>Certified in <a href="https://www.freecodecamp.org/certification/thorntonjb/javascript-algorithms-and-data-structures-v8">Javascript Algo & DS</a>  </em>
</p>
